*{

    color: #757575 ;
    font-size: 1.25rem; 
   

}

.clear{

    clear: both;

}

body{
    width: 100vw;
    background: #fafafa;
    padding: 0;
    margin: 0;

}
@font-face{
    font-family: "URW Geometric Light";
    src: url("../Fontes/URW_GEOMETRIC/URWGEOMETRIC-LIGHT.OTF");

}

@font-face{
    font-family: "URW Geometric Bold";
    src: url("../Fontes/URW_GEOMETRIC/URWGEOMETRIC-BOLD.OTF");
}


p{
    font-family: "URW Geometric Light";

}

h1,h2,h3,h4{
    font-family: "URW Geometric Bold";
    color: #000000;
}

h2{
    color: #757575;
}

.borda{
    border: 1px solid gray;

}


.conteudo{
    
    height: 100vh;
    display: flex;
    text-align: center;
}

.conteudo img{
    align-self: center;
    max-width: 25%;
}

#Portfolio{

    width: 95%;
    margin: auto;
}

#portfolio_img_principal{

    background-image: url("../Imagens/Portfolio/imagem1.jpg");
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
}


.portfolio_img{

    cursor: pointer;
    height: 5rem;
    background-position: center;
    background-size: cover;

}

#portfolio_img_1{
    background-image: url("../Imagens/Portfolio/imagem1.jpg");
}

#portfolio_img_2{
    background-image: url("../Imagens/Portfolio/imagem2.jpg");
}


#portfolio_img_3{
    background-image: url("../Imagens/Portfolio/imagem3.jpg");
}

#portfolio_img_4{
    background-image: url("../Imagens/Portfolio/imagem4.jpg");
}

#portfolio_img_5{
    background-image: url("../Imagens/Portfolio/imagem5.jpg");
}

#portfolio_img_6{
    background-image: url("../Imagens/Portfolio/imagem6.jpg");
}


#controle_esquerdo{
    cursor: pointer;
    position: absolute;
    max-height: 2rem;
    left: 0rem;

}

#controle_direito{
    cursor: pointer;
    position: absolute;
    max-height: 2rem;
    right: 0rem; 

}

#Sobre{
    width: 100vw;
    margin-top: 1rem;
}

#Sobre .texto{

    margin-left: 3%;
    

}

#Sobre h2{

    font-size: 3rem;

}

#Sobre img{
    max-width: 100%;
}

.menurodape{
    height: 20vh;
}

#Home{
    display: flex;
    width: 100vw;
    padding: 0%;
    height: 100vh;
}
#Menu{
    position: absolute;
    z-index: 2;

}

#Banner{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;

}
.banner{
    
    background-size: cover;
    background-position: bottom right;
    height: 100%;
    width: 100%;
}

#banner_img1{
    background: url("../Imagens/Banner/01.jpg");
}

#banner_img2{
    background: url("../Imagens/Banner/02.jpg");
}

#banner_img3{
    background: url("../Imagens/Banner/03.png");
}

#Instagram{
    margin-top: 5rem;
}

@media screen and (max-width:1024px){

    .conteudo{
        height: auto;
    }
}